@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  font-family: 'Roboto Mono', monospace;
  margin:0
}

@keyframes fall {
  0%{
    top:-10vh
  }
  100%{
    top:110vh;
  }
}

@keyframes revele {
  0%{
    opacity:0;
    scale:0.75
  }
  100%{
    opacity:1;
    scale:1
  }
}